description: Prateek Gupta | Personal Website
name: Prateek Gupta
host_address: http://github.com/pg2455/pg2455.github.io
url: http://pg2455.github.io
destination: ./_site
lsi: false
port: 4000
permalink: pretty
timezone: Europe/London

fontawesome_id: d7c6b63fdf

# -----------------------------------------------------------------------------
# Social integration
# -----------------------------------------------------------------------------

usernames:
  github: pg2455
  twitter: pguptacs
  google_scholar: fvn0COgAAAAJ
  google_analytics: UA-187458159-1
  linkedin: link2prateek
  disqus: pgupta-blog

# -----------------------------------------------------------------------------
# Collections
# -----------------------------------------------------------------------------

collections:
  news:
    defaults:
      layout: post
    output: false
    permalink: /news/:path/


news_limit: 10


# -----------------------------------------------------------------------------
# Blog
# -----------------------------------------------------------------------------

permalink: /blog/:year/:title/

# -----------------------------------------------------------------------------
# Jekyll settings
# -----------------------------------------------------------------------------
future: true

markdown: kramdown
kramdown:
  parse_block_html: true
  syntax_highlighter: rouge

plugins:
  - jekyll-sitemap
  - jekyll/scholar
  - jemoji
  - jekyll-github-metadata

include: ['_pages']

exclude:
  - .travis.yml
  - validate.rb
  - README.md
  - Gemfile
  - Gemfile.lock
  - bower_components
  - update-vendor-deps.sh
  - vendor/bundle
  - vendor/bower.json


# -----------------------------------------------------------------------------
# Jekyll scholar
# -----------------------------------------------------------------------------

scholar:

  last_name: Gupta
  first_name: Prateek

  style: apa
  locale: en

  source: /_bibliography/
  bibliography: publications.bib
  bibliography_template: bibtemplate

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"

# -----------------------------------------------------------------------------
# Library versions
# -----------------------------------------------------------------------------

fontawesome:
  - version: 5.14.0
  - id: d7c6b63fdf

mathjax:
  version: "3.1.2"
