---
---

<tr>
<td class="col-md-3"><a href='{{ entry._link }}' target='_blank'><img src="{{ entry._image }}" onerror="this.style.display='none'"/></a> </td>
<td>
    <strong>{{ entry.title }}</strong><br>

    {% assign etal = false %}
    {% assign lastindex = entry.author_array | size | minus:1 %}
    {% if entry.author_array[lastindex].last == 'others' %}
      {% assign etal = true %}
    {% endif %}

    {% for author in entry.author_array %}
      {% if forloop.first %}
        {% if author.last == site.scholar.last_name and author.first == site.scholar.first_name %}
          <strong>{{author.first | slice: 0 }}. {{author.last}}</strong>{% if forloop.length > 1 %},{% endif %}
        {% else %}
          {{ author.first | slice: 0 }} {{author.last}}{% if forloop.length > 1 %},{% endif %}
        {% endif %}
      {% elsif forloop.last %}
        {% if author.last == site.scholar.last_name and author.first == site.scholar.first_name %}
          <strong>{{author.first | slice: 0 }}. {{author.last}}</strong>
        {% elsif author.last == 'others' %}
          et. al.
        {% else %}
          and {{author.first | slice: 0 }}. {{author.last}}
        {% endif %}
      {% else %}
        {% if author.last == site.scholar.last_name and author.first == site.scholar.first_name %}
          <strong>{{author.first | slice: 0 }}. {{author.last}}</strong>{% if forloop.index == lastindex and etal == true %}{% else %},{% endif %}
        {% else %}
          {{author.first | slice: 0 }}. {{author.last}}{% if forloop.index == lastindex and etal == true %}{% else %},{% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <br>

    {% if entry._venue %}
      {{entry._venue}} {{entry.year}}<br>
    {% endif %}

    {% if entry.abstract %}
      <span> [<a href='javascript:;' onclick='$("#abs_{{ entry.key }}").toggle()'>abs</a>] </span>
    {% endif %}

    {% if entry._link %}
      <span> [<a href='{{ entry._link }}' target='_blank'>pdf</a>] </span>
    {% endif %}

    {% if entry.arxiv %}
      <span> [<a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>] </span>
    {% endif %}

    {% if entry.code %}
      <span> [<a href='{{ entry.code }}' target='_blank'>code</a>] </span>
    {% endif %}

    {% if entry.doi %}
        <span> [<a href="{{ entry.doi | prepend: 'http://doi.org/' }}"  target="_blank">doi</a>] </span>
    {% endif %}

    {% if entry._slides %}
      {% if entry._slides contains '://' %}
        {% assign x = entry._slides %}
      {% else %}
        {% assign x = entry._slides | prepend: '/assets/pdf/' | relative_url %}
      {% endif %}
      <span> [<a href='{{ x }}' target='_blank'>slides</a>] </span>
    {% endif %}

    {% if entry._poster %}
      {% if entry._poster contains '://' %}
        {% assign x = entry._poster %}
      {% else %}
        {% assign x = entry._poster | prepend: '/assets/pdf/' | relative_url %}
      {% endif %}
      <span> [<a href='{{ x }}' target='_blank'>poster</a>] </span>
    {% endif %}

    {% if entry.blog %}
      <span> [<a href="{{ entry.blog }}" target="_blank">blog</a>] </span>
    {% endif %}

    {% if entry._website %}
      <span> [<a href="{{ entry._website }}" target="_blank">website</a>] </span>
    {% endif %}

    <span> [<a href='javascript:;' onclick='$("#bib_{{ entry.key }}").toggle()'>bibtex</a>] </span>
    <span><br></span>

    <div id="abs_{{ entry.key }}" class="hidden-content" style="text-align: justify; display: none">
      <p>{{ entry.abstract }}</p>
    </div>

    <div id="bib_{{ entry.key }}" class="hidden-content" style="text-align: justify; display: none">
      <pre>{{ entry.bibtex }}</pre>
    </div>

</td>
</tr>
