---
---

<tr>
  <td class="col-md-3"><img src="{{ entry.image }}" onerror="this.style.display='none'"/></td>
  <td>
    <strong>{{ entry.title }}</strong><br>

    {% if entry.content %}
      <span> [<a href='javascript:;' onclick='$("#lessons_{{ entry.key }}").toggle()'>Topics</a>] </span>
    {% endif %}

    {% if entry.practical %}
      <span> [<a href='javascript:;' onclick='$("#practical_{{ entry.key }}").toggle()'>Practical</a>] </span>
    {% endif %}

    {% if entry.objective %}
      <p>
        <h1 class="resources-headline">&nbsp;
          {% if entry.published %}
            <span class="published">Published: {{ entry.published }} </span>
          {% endif %}
          {% if entry.link_diy %}
            <span class="h1-links"><a href="{{ entry.link_diy }}" target="_blank">  [ Notebook (DIY) ] </a></span>
          {% endif %}
          {% if entry.link_sol %}
            <span class="h1-links"><a href="{{ entry.link_sol }}" target="_blank"> [ Notebook (Soln.) ] </a></span>
          {% endif %}
        </h1>
      </p>
        {{ entry.objective }}
    {% endif %}

    <div id="lessons_{{ entry.key }}" class="hidden-content" style="text-align: justify; display: none">
      <p>
        <h1 class="resources-headline">Topics
          {% if entry.content_link %}
            <span class="h1-links"><a href="{{ entry.content_link }}" target="_blank">[ Slides/Notebook ]</a></span>
          {% endif %}
        </h1>
        {{ entry.content }}
      </p>
    </div>

    <div id="practical_{{ entry.key }}" class="hidden-content" style="text-align: justify; display: none">
      <p>
        <h1 class="resources-headline">Practical
          {% if entry.practical_link_diy %}
            <span class="h1-links"><a href="{{ entry.practical_link_diy }}" target="_blank">  [ Notebook (DIY) ] </a></span>
          {% endif %}
          {% if entry.practical_link_sol %}
            <span class="h1-links"><a href="{{ entry.practical_link_sol }}" target="_blank"> [ Notebook (Soln.) ] </a></span>
          {% endif %}
        </h1>
        {{ entry.practical }}
      </p>
    </div>

  </td>
</tr>
